/*
** WikiRennes based on :
** MediaWiki 'monobook' style sheet for CSS2-capable browsers.
** Copyright Gabriel Wicke - http://wikidev.net/
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
**
** Loosely based on http://www.positioniseverything.net/ordered-floats.html by Big John
** and the Plone 2.0 styles, see http://plone.org/ (Alexander Limi,Joe Geldart & Tom Croucher,
** Michael Zeltner and Geir Bækholt)
** All you guys rock :)
*/

div#column-content {
	width: 100%;
	float: right;
	margin: 140px 0 0.6em -20.2em;
	padding: 0;
}

.mw-body {
	margin: 2.8em 0 0 20.2em;
	padding: 0.5em 2em 2em;
	position: relative;
	z-index: 2;
	background: #fff;
	color: #000;
	border: 1px solid #eee;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	line-height: 1.5em;
}

div#column-one {
	padding-top: 160px;
	/* @embed */
	background: transparent url(colonne-left.png) 0 0 repeat-y;
}

/* Hide, but keep accessible for screen-readers */
#column-one h2 {
	position: absolute;
	top: -9999px;
}

/* the left column width is specified in class .portlet */

/* Font size:
** We take advantage of keyword scaling- browsers won't go below 9px
** More at http://www.w3.org/2003/07/30-font-size
** http://style.cleverchimp.com/font_size_intervals/altintervals.html
*/

body {
	font: x-small georgia;
	/* @embed */
	background: #fff url(headbg.jpg) 0 0 repeat-x;
	color: #000;
	margin: 0;
	padding: 0;
	direction: ltr; /* Needed for RTL flipping */
	unicode-bidi: embed;
}

/* scale back up to a sane default */
div#globalWrapper {
	font-size: 127%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
}

/* general styles */
a {
	color: #33cc00;
}

a:visited {
	color: #2eb700;
}

a.new,
#p-personal a.new {
	color: #3399ff;
}
a.new:visited,
#p-personal a.new:visited {
	color: #2c85dd;
}

hr {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: arial;
}

ul {
	list-style-type: square;
	/* @embed */
	list-style-image: url( bullet.gif );
}

pre,
.mw-code {
	line-height: 1.1em;
}

#firstHeading {
	padding-top: 0;
	overflow: visible;
}

.mw-indicators {
	float: right;
	line-height: 1.5em;
	font-size: 95%;
}

.mw-indicator {
	display: -moz-inline-block;
	display: inline-block;
	zoom: 1;
	*display: inline; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

/*
** the main content area
*/

#siteNotice {
	font-size: 95%;
	padding: 0 0.9em;
}

#localNotice {
	margin: 0;
}

#siteNotice p {
	margin: 0;
	padding: 0;
}

/*
** classes for special content elements like town boxes
** intended to be referenced directly from the wiki src
*/

/*
** User styles
*/
/* table standards */
table.rimage {
	float: right;
	position: relative;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
}

/*
** edit views etc
*/
.special li {
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

/*
** Structural Elements
*/

/*
** general portlet styles (elements in the quickbar)
*/
.portlet {
	border: 0;
	margin: 0 0 .5em 40px;
	padding: 0;
	float: none;
	width: 13.6em;
	overflow: hidden;
}

.portlet h3 {
	background: transparent;
	padding: 0 0 5px;
	/*display: inline;*/
	height: 1em;
	/*text-transform: lowercase;*/
	font-size: 132%;
	font-weight: bold;
	white-space: nowrap;
	
	color: #333;
	text-align: right;
}

.pBody {
	font-size: 95%;
	background-color: #fff;
	color: #000;
	border-collapse: collapse;
	/*border: 1px solid #aaa;*/
	padding: 0 0 .3em .5em;
	
	text-align: right;
}

/* allows .pBody styles to wrap around content added via BaseTemplateAfterPortlet hook */
.pBody:after {
	content: '';
	clear: both;
	display: block;
}

.portlet ul {
	line-height: 1.5em;
	list-style-type: none;
	list-style-image: none;
	font-size: 95%;
}

.portlet li {
	padding: 0;
	margin: 0;
}
/* dweez */
.portlet li a {
	color: #333;
}
.portlet li a:visited {
	color: #666;
}

/*
** Logo properties
*/

#p-logo {
	top: 20px;
	left: 37px;
	position: absolute; /*needed to use z-index */
	z-index: 3;
	height: 155px;
	width: 12em;
	overflow: visible;
}

#p-logo h3 {
	display: none;
}

#p-logo a,
#p-logo a:hover {
	display: block;
	height: 155px;
	width: 12.2em;
	background-repeat: no-repeat;
	/*background-position: 35% 50% !important;*/
	text-decoration: none;
}

/*
** Footer portlet
*/

#p-footer {
	padding: 1em 2em;
	width: 10.6em;
}

/*
** Search portlet
*/
#p-search {
	position: relative;
	z-index: 3;
}

input.searchButton {
	margin-top: 1px;
	font-size: 95%;
}

#searchGoButton {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-weight: bold;
}

#searchInput {
	width: 10.9em;
	margin: 0;
	font-size: 95%;
}

#p-search .pBody {
	padding: 0.5em 0.4em 0.4em 0.4em;
	text-align: center;
}

#p-search #searchform div div {
	margin-top: 0.4em;
	font-size: 95%;
}

/*
** the personal toolbar
*/
#p-personal {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;

	width: 100%;
	white-space: nowrap;
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	overflow: visible;
	line-height: 1.2em;
}

#p-personal h3 {
	display: none;
}

#p-personal .portlet,
#p-personal .pBody {
	z-index: 0;
	padding: 0;
	margin: 20px 15px 0;
	border: 0;
	overflow: visible;
	background: none;
}

/* this is the ul contained in the portlet */
#p-personal ul {
	border: 0;
	line-height: 1.4em;
	color: #2f6fab;
	padding: 0;
	padding-right: 2em;
	/* Avoid overlap with the logo. */
	padding-left: 14em;
	margin: 0;
	text-align: right;
	list-style-type: none;
	list-style-image: none;
	z-index: 0;
	background: none;
	cursor: default;
	text-transform: lowercase;
}

#p-personal li {
	z-index: 0;
	border: 0;
	padding: 0;
	display: inline;
	color: #2f6fab;
	margin-left: 1em;
	line-height: 1.2em;
	background: none;
}

#p-personal li a {
	text-decoration: none;
	color: #333;
	padding-bottom: .2em;
	background: #fff none;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #D7D7D7;
	padding: 5px 10px;
}

#p-personal li a:hover {
	background-color: #fff;
	text-decoration: none;
}

#p-personal li.active a:hover {
	background-color: transparent;
}

/* The icon in front of the username / login link */
li#pt-userpage,
li#pt-anonuserpage,
li#pt-login {
	/* @embed */
	background: url( user.gif ) top left no-repeat;
	padding-left: 20px;
}

/* Don't lowercase username */
li#pt-userpage {
	text-transform: none;
}

/* "Not logged in" text in gray */
li#pt-anonuserpage {
	color: #707070;
}

#p-personal li.active {
	font-weight: bold;
}

/*
** the page-related actions- page/talk, edit etc
*/
#p-cactions {
	position: absolute;
	top: 19px;
	left: 20em;
	margin: 101px 0 0;
	white-space: nowrap;
	/*width: 76%;*/
	line-height: 1.1em;
	overflow: visible;
	background: none;
	border-collapse: collapse;
	/*padding-left: 1em;*/
	font-size: 95%;
}

#p-cactions ul {
	list-style-type: none;
	list-style-image: none;
}

#p-cactions li {
	display: inline;
	/*border: 1px solid #aaa;
	border-bottom: none;*/
	padding: 0 0 1em 0;
	/*margin: 0 .3em 0 0;*/
	overflow: visible;
	background: white;
	text-shadow: 0 1px 1px #aaaaaa;
}

#p-cactions li.selected {
	border-color: #fabd23;
	font-weight: bold;
}

#p-cactions li a {
	/*background-color: #fbfbfb;*/
	/* @embed */
	background: url(onglet_big.png) no-repeat scroll 0 0 #FBFBFB;
	color: #333;
	border: 0;
	padding: 0.5em 1em !important;
	position: relative;
	z-index: 0;
	margin: 0 -0.3em 0 0;
	text-decoration: none;
}

#p-cactions li.selected a {
	z-index: 3;
	padding: 0.5em 1em !important;
	background-color: #fff;
}

#p-cactions .new a {
	color: #ba0000;
}

#p-cactions li a:hover {
	z-index: 3;
	text-decoration: none;
	/*background-color: #fff;*/
	text-shadow: none;
}

#p-cactions h3 {
	display: none;
}

#p-cactions li.istalk {
	margin-right: 0;
}

#p-cactions li.istalk a {
	padding-right: 0.5em;
}

#p-cactions #ca-addsection a {
	padding-left: 0.4em;
	padding-right: 0.4em;
}

/* offsets to distinguish the tab groups */
li#ca-talk {
	/*margin-right: 1.6em;*/
}

li#ca-watch,
li#ca-unwatch,
li#ca-varlang-0,
li#ca-print {
	margin-left: 1.6em;
}

#p-cactions .pBody {
	font-size: 1em;
	background-color: transparent;
	color: inherit;
	border-collapse: inherit;
	border: 0;
	padding: 0;
}

#p-cactions li a {
	/*text-transform: lowercase;*/
}

#p-lang {
	position: relative;
	z-index: 3;
}

/* Override text-transform on languages where capitalization is significant */
.capitalize-all-nouns .portlet h3,
.capitalize-all-nouns #p-personal ul,
.capitalize-all-nouns #p-cactions ul li a {
	text-transform: none;
}

/* TODO: #t-iscite is only used by the Cite extension, come up with some
 * system which allows extensions to add to this file on the fly
 */
#t-ispermalink,
#t-iscite {
	color: #999;
}

/*
** footer
*/
div#footer {
	background-color: #fff;
	border-top: 1px solid #fabd23;
	border-bottom: 1px solid #fabd23;
	margin: 0.6em 0 1em 0;
	overflow: hidden;
	padding: 0.4em 0 0.3em 0;
	text-align: center;
	font-size: 90%;
}

div#footer li {
	display: inline;
	margin: 0 1.3em;
}

#f-poweredbyico,
#f-copyrightico {
	margin: 0 8px;
	position: relative;
	top: -2px; /* Bump it up just a tad */
}

#f-poweredbyico {
	float: right;
	height: 1%;
}

#f-copyrightico {
	float: left;
	height: 1%;
}

#userloginprompt,
#languagelinks {
	font-size: 85%;
}

#login-sectiontip {
	font-size: 85%;
	line-height: 1.2;
	padding-top: 2em;
}

/**
 * This was originally added by Gabriel Wicke in r3681 (committed on 25 May 2004)
 * with the commit message "tweaks to page history".
 * Unlike the other IE/Mac fixes that used to be present here, this seems to get
 * applied on more modern browsers, so let's keep it here until someone has the
 * time to properly test it out.
 */
#pagehistory li.selected {
	position: relative;
}

div.patrollink {
	clear: both;
}

.sharedUploadNotice {
	font-style: italic;
}

.editExternally {
	border: 1px solid #808080;
	background-color: #fff;
	padding: 3px;
	margin-top: 0.5em;
	float: left;
	font-size: small;
	text-align: center;
}

.editExternallyHelp {
	font-style: italic;
	color: #808080;
}

.toggle {
	margin-left: 2em;
	text-indent: -2em;
}

/* @bug 1714 */
input#wpSave,
input#wpDiff {
	margin-right: 0.33em;
}

#wpSave {
	font-weight: bold;
}

/* noarticletext */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: 0.2em 1em;
	color: #000;
}

#powersearch p {
	margin-top: 0;
}

div.multipageimagenavbox {
	border: solid 1px #c0c0c0;
	padding: 4px;
	margin: 1em;
	background: #f0f0f0;
}

div.multipageimagenavbox div.thumb {
	border: 0;
	margin-left: 2em;
	margin-right: 2em;
}

div.multipageimagenavbox hr {
	margin: 6px;
}

table.multipageimage td {
	text-align: center;
}

.templatesUsed {
	margin-top: 1.5em;
}

.mw-summary-preview {
	margin: 0.1em 0;
}

/* Friendlier slave lag warnings */
div.mw-lag-warn-normal,
div.mw-lag-warn-high {
	padding: 3px;
	text-align: center;
	margin: 3px auto;
}

div.mw-lag-warn-normal {
	border: 1px solid #fc6;
	background-color: #ffc;
}

div.mw-lag-warn-high {
	font-weight: bold;
	border: 2px solid #f03;
	background-color: #fcc;
}

.MediaTransformError {
	background-color: #ccc;
	padding: 0.1em;
}

.MediaTransformError td {
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
}

/* Sometimes people don't want personal tools to be lowercase! */
.no-text-transform {
	text-transform: none;
}

/* Tooltips are outside of the normal body code, so this helps make the size of the text sensible */
.tipsy {
	font-size: 127%;
}

/* mediawiki.notification */
.skin-monobook .mw-notification {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.125);
}

/* Règles anciennement dans MonoBook, retirées depuis, mais utilisées sur Wiki-Rennes */

div.thumbinner {
	border: 1px solid #eee;
	background-color: #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#p-search h3 {
	display: none;
}
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(bullet.gif);
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
	
	font-family: arial;
}
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }
#bodyContent h1, #bodyContent h2 {
        margin-bottom: .6em;
}
#firstHeading {
	padding-top: 0.5em;
}
.accueil-fdBloc {
	overflow: visible;
}

/* Ajustements de Echo */
#pt-notifications-alert .mw-echo-notifications-badge, #pt-notifications-notice .mw-echo-notifications-badge {
	border: 0;
	padding: 0 0 .2em 0;
}
#footer #copyright {
	display: none;
}
#f-copyrightico img {
	border: 2px solid black;
}
div#footer {
	padding-bottom: 0;
}










/* --------------------------- Templates */

.accueil-btnModify {
	float: right;
}


.accueil-contBloc {
	display:block; 
	border:1px solid #aaa; 
	vertical-align:top; 
	width:100%; 
	background-color:#ffffff; 
	margin-bottom:10px; 
	padding:0px 0px5px 0px; 
	-moz-border-radius-topleft: 0.9em; 
	-moz-border-radius-bottomright: 0.9em; 
	-moz-border-radius-bottomleft: 0.9em;
}


.accueil-fdBloc {
	background-color:#ececec; 
	color:#00000; 
	text-align:center; 
	font-weight:normal; 
	margin:0px 0px 0px 0px; 
	padding:5px 3px 5px 3em; 
	font-size:120%;
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	-moz-border-radius-topleft: 0.9em;
	text-decoration:none; 
	text-transform : none;
	letter-spacing:normal;
	word-spacing:normal;
}


.accueil-colLeft {
	width:49%;
	display:block;
	float:left;
	align:left;
}

.accueil-colRight {
	width:49%;
	display:block;
	float:right;
	align:right;
}
